.aboutPage-main .about-image {
    height: 35.75rem; 
}

.aboutPage-main .title-text {
    font-size: 3.125rem; 
    font-weight: 900;
    color: var(--title-color);
    margin-bottom: 1.25rem;
}

.aboutPage-main .icon-text-container {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 3.25rem;
}

.aboutPage-main .about-section-three-above .icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 3rem;
}

.aboutPage-main .about-section-two,
.about-section-three-above {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding: 8rem 0;
    flex-wrap: wrap;
}

.aboutPage-main .about-section-three-above {
    padding-bottom: 0;
}

.aboutPage-main .about-section-two .contentLeft {
    /* width: 45%; */
    display: flex;
    justify-content: center;
    align-items: center;
}



.aboutPage-main .about-section-three{
    background-color: #F9F8F8;
}

.aboutPage-main .curvy-text {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    margin-bottom: 0.0375rem;
}
.aboutPage-main .green-text {
    color: var(--primary-green);
}

.aboutPage-main .about-title-text {
    margin-bottom: 1.56rem;
    font-size: 3.125rem; 
    font-weight: 900;
    font-family: 'roboto', sans-serif;
    color: var(--title-color);
}

.aboutPage-main .about-discription {
    color: #525C60;
    font-size: 1.125rem; 
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    width: 35.625rem;
    margin-bottom: 2.5rem;
}

.aboutPage-main .about-section-three .about-image2{
    width: 38rem;
    height: 32rem;
    border-radius: 1.875rem;
}

.aboutPage-main .about-section-three-below {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding: 8rem 0;
    flex-wrap: wrap;
}

.aboutPage-main .about-section-four {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
    
}

.aboutPage-main .about-section-four .about-discription {
    width: 58rem;
    text-align: center;
}

.aboutPage-main .profile-card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {
    .aboutPage-main .about-section-two, .about-section-three-above {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .contentRight {
        width: 100%;
    }
    .aboutPage-main .about-image {
        height: 25rem;
    }
    .aboutPage-main .about-section-three .about-image2 {
        width: 28rem;
        height: 22rem;
    }
    .aboutPage-main .about-discription {
        font-size: 1.125rem;
        width: 25.625rem;
        margin: auto;
        margin-bottom: 2rem;
        
    }
    .aboutPage-main .icon-text-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 3.25rem;
    }
    .aboutPage-main .about-title-text {
        margin-bottom: 1rem;
        font-size: 2.125rem;
    }
}

@media (max-width: 450px) {
    .aboutPage-main .about-section-two,
    .about-section-three-above,
    .aboutPage-main .about-section-three-below {
        flex-direction: column;
        padding: 4rem 0;
    }

    .aboutPage-main{
        width: 100%;
    }

    .aboutPage-main .about-section-three{
        width: 100%;
    }
    
    .aboutPage-main .about-section-three .about-image2 {
        width: 18rem;
        height: auto;
    }

    .aboutPage-main .about-discription {
        font-size: 1rem;
        width: 20rem;
        margin: auto;
        margin-bottom: 2rem;
    }
    .aboutPage-main .about-image {
        height: 15rem;
    }
}


@media (max-width: 419px) {
    .aboutPage-main .about-section-two,
    .about-section-three-above,
    .aboutPage-main .about-section-three-below {
        flex-direction: column;
        padding: 2rem 0;
    }

    .aboutPage-main{
        width: 100%;
    }

    .aboutPage-main .about-section-three{
        width: 100%;
    }
    
    .aboutPage-main .about-section-three .about-image2 {
        width: 18rem;
    }

    .aboutPage-main .about-discription {
        width: 100%;
    }
}