
.login {
    background-image: url("../assests/home-background-one.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login a {
    color: var(--title-color);
    font-weight: 600;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    border-radius: 0.75rem;
    padding: 2rem;
}

.login .header-text,
.sub-text {
    color: #333;;
}

.login .header-text{
    font-size: 3rem;
}

.login .sub-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.login .input-field {
    height: 3.5rem;
    box-sizing: border-box;
    border-radius: 0.75rem;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
}

.login  .textfield {
    display: flex;
    width: 33.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.login .forgot-password {
    margin-left: 1rem;
}


@media screen and (max-width: 768px) {
    .login {
        padding: 2rem;
    }

    .login .header-text {
        font-size: 2rem;
    }

    .login .textfield {
        width: 100%;
    }

    
}

@media screen and (max-width: 480px) {
    .login {
        padding: 1rem;
    }

    .login-container {
        padding: 1rem;
    }

    .login .header-text {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 380px) {
    .login a,
    .login .sub-text {
        font-size: 0.7rem;
    }
}