* {
    box-sizing: border-box;
}
.shop-page-main form.search-container {
    width: 75%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    column-gap: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray-ii, #E0E2E4);
    background: #FFF;
    margin-block: 3rem;
}
.shop-page-main form.search-container img {
    width: 1.5rem;
}
.shop-page-main form.search-container input {
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
}
.shop-page-main article.features-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-inline: auto;
    border-radius: 8px;
    background: var(--gray-scale-white, #FFF);
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    justify-content: space-between;
    padding: 2.5rem;
}
@media all and (max-width: 900px) {
    .shop-page-main article.features-container {
        display: none;
    }
    .shop-page-main form.search-container,article.shop-page-main article.section-one,
    article.shop-page-main article.section-two {
        width: 90%;
    }
}
.shop-page-main article.features-container img {
    width: 2rem;
}
.shop-page-main article.features-container .feature {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
}
.shop-page-main article.features-container .feature p:nth-child(2) {
    font-size: 14px;
    color: #999;
}
.shop-page-main article.features-container .feature p:nth-child(1) {
    font-weight: 600;
    color: #1A1A1A;
}
.shop-page-main article.section-one, .shop-page-main article.section-two {
    width: 75%;
    margin-inline: auto;
    margin-top: 3rem;
}
.shop-page-main article.section-one .row, .shop-page-main article.section-two .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop-page-main article.section-one .row img, .shop-page-main article.section-two .row img {
    width: 1rem;
}
.shop-page-main .green-text {
    color: var(--primary-green);
}
.shop-page-main article.section-one article.category-container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
}
.shop-page-main article.section-two article.products-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
}
.shop-page-main article.section-two article.single-product {
    transform: scale(0.8);
}