
.signup {
    background-image: url("../assests/home-section-two-cardImg-two.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup a {
    color: var(--title-color);
    font-weight: 600;
}

.signup-container {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    border-radius: 0.75rem;
    padding: 2rem;
}

.signup .header-text,
.sub-text {
    color: #333;
}

.signup .header-text{
    font-size: 3rem;
}

.signup .sub-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}


.signup .input-field {
    height: 3.5rem;
    box-sizing: border-box;
    border-radius: 0.75rem;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
}

.textfield {
    display: flex;
    width: 33.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.forgot-password {
    margin-left: 1rem;
}

.bottom-text {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .signup {
        padding: 2rem;
    }

    .signup .header-text {
        font-size: 2rem;
    }

    .textfield {
        width: 100%;
    }

    
}

@media screen and (max-width: 480px) {
    .signup {
        padding: 1rem;
    }

    .signup-container {
        padding: 1rem;
    }

    .signup .header-text {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 380px) {
    .signup a,
    .signup .sub-text {
        font-size: 0.7rem;
    }
}