:root {
    --primary-green: #00B207;
}
nav.navbar {
    padding: 4rem 1.5rem;
}
nav.navbar .logo {
    margin-right: 5px;
}
nav.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}
nav.navbar ul, nav.navbar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav.navbar img {
    width: 2rem;
    vertical-align: middle;
}
nav.navbar ul {
    list-style: none;
}
.logo-txt {
    color: var(--primary-green);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    vertical-align: middle;
}
nav.navbar .nav-left {
    gap: 2rem;
}
nav.navbar .search-container, nav.navbar .cart-container {
    display: inline-flex;
    flex-direction: row-reverse;
    border-radius: 40px;
    padding: 0.5rem;
    border: 1px solid #FAFAFA;
    background-color: #FAFAFA;
    justify-content: space-between;
    gap: 5px;
}
nav.navbar .search-container input {
    border: none;
    border-radius: 40px;
    padding-left: 1rem;
}
nav.navbar .cart-container span {
    align-self: center;
}
nav.navbar .cart-container {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    padding: 5px;
    padding-right: 0.8rem;
    gap: 10px;
    flex-direction: row;
}
nav.navbar .cart-container span {
    margin-right: 5px;
}
nav.navbar button {
    border-radius: 33px;
    border: none;
    background-color: var(--primary-green);
    padding: 1rem 1.5rem;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 130%;
}