:root {
    --primary-green: #00B207;
}
nav.navbar {
    padding: 2rem 1.5rem;
}
.close-icon,
.menu-icon {
    display: none;
}
nav.navbar .logo {
    margin-right: 5px;
}
nav.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}
nav.navbar ul, nav.navbar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav.navbar img {
    width: 2rem;
    vertical-align: middle;
}
nav.navbar ul {
    list-style: none;
}
.logo-txt {
    color: var(--primary-green);
    font-family: Roboto;
    font-size: 38px;
    font-weight: 700;
    vertical-align: middle;
}
nav.navbar .nav-left {
    gap: 2rem;
}
nav.navbar .search-container, nav.navbar .cart-container {
    display: inline-flex;
    flex-direction: row-reverse;
    border-radius: 40px;
    padding: 0.5rem;
    border: 1px solid #FAFAFA;
    background-color: #FAFAFA;
    justify-content: space-between;
    gap: 5px;
}
nav.navbar .search-container input {
    border: none;
    border-radius: 40px;
    padding-left: 1rem;
}
nav.navbar .cart-container span {
    align-self: center;
}
nav.navbar .cart-container {
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    padding: 5px;
    padding-right: 0.8rem;
    gap: 10px;
    flex-direction: row;
}
nav.navbar .cart-container span {
    margin-right: 5px;
}
nav.navbar button {
    border-radius: 33px;
    border: none;
    background-color: var(--primary-green);
    padding: 1rem 1.5rem;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    line-height: 130%;
}
 
.menu-overlay {
    display: none;
}

@media screen and (max-width: 1100px) {
    .close-icon,
    .menu-icon {
        display: inline;
        margin-right: 1rem;
        cursor: pointer;
     }
     .hide-me  {
        display: none;
     }

     .menu-overlay {
        background: #fff;
    }
    .menu-overlay {    
        position: absolute;
        inset: 1;
        display: inline-block;
        left: 0;
        width: 100%;
        z-index: 99999;
    }
    
    .nav-leftt {
        background: white;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 4rem;
        margin-left: 3rem;
        list-style: none;
    }

    .menu-overlay .sm-hide {
        display: none;
    }

    nav.navbar {
        padding: 2rem 0.7rem;
    }

    }


    @media screen and (max-width: 591px) {
        .nav-left {
            margin-left: 0;
        }
        .menu-overlay {
            margin-left: 0;
        }

        .sm-hide1 {
            display: none;
        }

        .menu-overlay .sm-hide {
            display: block;
            overflow: hidden;
        }

        nav.navbar ul {
            padding-left: 0;
        }

        nav.navbar {
            padding: 2rem 2rem;
        }
    }
  