article.single-product {
    flex-basis: 20rem;
    max-width: 17rem;
    height: 23rem;
    flex-shrink: 1;
    border-radius: 30px;
    background: #FFF;
    padding: 1rem 1.5rem;
    position: relative;
    overflow: hidden;
}
article.single-product img {
    width: 120%;
    margin-left: -1rem;
    max-height: 15rem;
}
article.single-product article.product-details {
    margin-top: 1rem;
    border-top: 1px solid #DEDDDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
article.single-product article.footer {
    position: absolute;
    bottom: 0;
}
article.single-product article.category {
    border-radius: 8px;
    background: #274C5B;
    padding: 5px 12px 6px 12px;
    color: #FFF;
    display: inline-flex;
}
