<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>SIGNUP</h1>
    <!-- Style the class of the alert to look good  -->
    {% for message in err %}
    <div class="alert alert-danger">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    <form method="POST" action="/api/register">
        <input type="text" name="fullname" placeholder="Full name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</body>

</html>